<b><%= @topic.title %></b> <i>[<% @user = @topic.user %><%= erb :_name %>]</i>
<p><%= @topic.body %></p><br>

<% @topic.comments.each do |comment| %>
	<p><i><%@user = comment.user %><%= erb :_name %></i><br><%= comment.body %></p>
<% end %>